<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/stylesheet.css">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>
           created by  {{name}}
           {{errorMessage}}
        </p>
        </div>
       {{>footer}}
    </body>
</html>