<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/stylesheet.css">
        <script src="js/app.js"></script>

    </head>
    <body>
        <div class="main-content">
         {{>header}}
         This page will show the weather details, Weatherstack and mapbox APIs are used here
         
        <img class="portrait" src="./img/robot.png">
       <p> created by     {{name}}</p>
       </div>
        {{>footer}}

    </body>
</html>